<div class="container" style="width: 100%; height: auto; text-align: center;">
 <div class="content" style="margin: 0 auto; width: 1000px; height: auto; text-align: left; padding: 0 0 0 50px;">
<% @posts.reverse.each do |post| %>
    <div class="interview_card">
      <div class="card_image" style="width: 200px; height: 150px; display: table-cell; vertical-align: middle; text-align: center;">
        <% if post.image_url(:thumb).nil? %>
          <a href="/wall/show_detail/<%= post.id %>" style="text-align: center;">
          <img src="https://lh5.googleusercontent.com/Fy3vZUxC80sIRHB5ET3eVTajncdcpadDYPY0lc_5SbI=w590-h207-p-no" style="width: 180px; height: auto;">
          </a>
        <% else %>
          <a href="/wall/show_detail/<%= post.id %>" style="text-align: center;">
          <img class="img-rounded" src="<%= post.image_url(:thumb) %>" style="width: 180px; height: 130px;">
          </a>
        <% end %>
      </div>
      <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
      <h4><a class="link_post"  href="/wall/show_detail/<%= post.id %>" style="width: 180px; font-family: 'Nanum Gothic', sans-serif;"><%= post.title %></a></h4>
     <!-- <p><span class="label label-warning"><%= post.category %></span></p>-->
      </div>
      <h4> [<%= post.comments.count %>]</h4>
      <div > 
      <p style="font-family: 'Raleway';"><%= post.user.username %></p>
      </div>
    </div>
<% end %>
 </div>
</div>
