<!DOCTYPE html>
<html>
<head>
  <title>Humantour : Finding Prime Movers</title>
  <link rel="stylesheet" href="/css/jpreloader.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylehseet" href="/css/jquery.vegas.css">
  <link rel="stylesheet" href="/css/theme/color.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => "layouts/header" %>

<%= yield %>


<script src="/js/jquery.min.js"></script>
<script src="/js/jpreloader.min.js"></script>
<script src="/js/vegas.js"></script>
<script src="/js/pagescroller.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/validate.min.js"></script>
<script src="/js/countdown.min.js"></script>
<script src="/js/script.js"></script>

<!--
<script type="text/javascript">
$(document).ready(function() {  
    $(window).scrollTop(0);/* force page scroll position to top at page refresh */
});   
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-28995875-1']);
_gaq.push(['_trackPageview']);
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
-->
    
</body>
</html>
