<!DOCTYPE html>
<html>
<head>
  <title>Humantour : Finding Prime Movers</title>
  <link rel="stylesheet" href="/css/jpreloader.css">
<!--  <link rel="stylesheet" href="/css/base.css">-->
  <link rel="stylesheet" href="/css/sections.css">
  <link rel="stylesheet" href="/css/base2.css">
 <!-- <link rel="stylehseet" href="/css/jquery.vegas.css">-->
  <link rel="stylesheet" href="/css/theme/color.css">
  <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css">

  <link href='http://fonts.googleapis.com/css?family=BenchNine:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>


  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<% if Time.now.to_i % 6 == 0 %>
<body style="background: url(/img/bg2.jpg) center center fixed; width: 100%; height:100%;">
<% elsif Time.now.to_i % 6 == 1 %>
<body style="background: url(/img/bg3.jpg) center center fixed; width: 100%; height:100%;">
<% elsif Time.now.to_i % 6 == 2 %>
<body style="background: url(/img/bg4.jpg) center center fixed; width: 100%; height:100%;">
<% elsif Time.now.to_i % 6 == 3 %>
<body style="background: url(/img/bg5.jpg) center center fixed; width: 100%; height:100%;">
<% elsif Time.now.to_i % 6 == 4 %>
<body style="background: url(/img/bg6.jpg) center center fixed; width: 100%; height:100%;">
<% elsif Time.now.to_i % 6 == 5 %>
<body style="background: url(/img/bg7.jpg) center center fixed; width: 100%; height:100%;">
<% end %>


<%= render :partial => "layouts/header" %>

<%= yield %>


<!--<script src="/js/jquery.min.js"></script>-->
<script src="/js/jpreloader.min.js"></script>
<!--<script src="/js/vegas.js"></script>-->
<!--<script src="/js/pagescroller.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/validate.min.js"></script>
<script src="/js/countdown.min.js"></script>
--><script src="/js/script.js"></script><!--

<script type="text/javascript">
$(document).ready(function() {  
    $(window).scrollTop(0);/* force page scroll position to top at page refresh */
});   
</script>
-->
<!--
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-28995875-1']);
_gaq.push(['_trackPageview']);
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
-->
    
</body>
</html>
